resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: ghcr.io/chia-network/chia-operator
  newName: ghcr.io/chia-network/chia-operator
  newTag: latest
