name: Release uploads

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: write

jobs:
  release-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set Env
        uses: Chia-Network/actions/setjobenv@main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set dependency versions
        run: |
          echo "CHIA_OPERATOR_VERSION=$RELEASE_TAG" >> $GITHUB_ENV

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl && mv ./kubectl /usr/local/bin/kubectl

      - name: Generate release manifests
        run: make release

      - name: Upload release manifests
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          FILES=$(find ${GITHUB_WORKSPACE}/release -type f -name '*.yaml')
          while IFS= read -r file; do
            gh release upload \
              $RELEASE_TAG \
              $file
          done <<< "$FILES"
