name: Run test and non-trunk build

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: Run lint and test
    runs-on: "ubuntu-latest"
    timeout-minutes: 10
    container: golang:1
    steps:
      - name: Add safe git directory
        uses: Chia-Network/actions/git-mark-workspace-safe@main

      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint
        run: |
          make lint

      - name: Test
        run: |
          make test

  docker-build:
    uses: Chia-Network/actions/.github/workflows/docker-build.yaml@639373207ab2d94e2a7dfcdd2d46dce7e9774cb7
    with:
      push: false

  test-controller-gen-ran:
    runs-on: "ubuntu-latest"
    timeout-minutes: 10
    container: golang:1
    steps:
      - uses: actions/checkout@v4

      - name: Check for git diffs
        shell: bash
        run: |
          git config --global --add safe.directory /__w/chia-operator/chia-operator
          git diff

      - name: Make manifests
        run: make manifests

      - name: Check for git diffs
        shell: bash
        run: |
          git config --global --add safe.directory /__w/chia-operator/chia-operator
          git diff
          diff=$(git diff-index HEAD --)
          dirs=(api config hack internal)
          for dir in "${dirs[@]}"; do
            if [[ "$diff" != *"${dir}"* ]]; then
              echo "No uncommitted changes in .${dir}/"
            else
              echo "Uncommitted changes found .${dir}/ -- This may indicate that you made changes to the controller API but did not run \"make manifests\" before committing. Please see DEVELOPMENT.md"
              echo "${diff}"
              exit 1
            fi
          done

  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4

  markdown-lint:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/igorshubovych/markdownlint-cli:latest
      options: --entrypoint /bin/sh
    steps:
      - name: 'Install deps'
        run: apk add git

      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: 'Lint Markdown'
        # MD013 lints for long lines, ignoring because GitHub's markdown viewer wraps long lines anyway.
        run: markdownlint --disable=MD013 **/*.md
